absl-py==2.1.0
accelerate==0.32.1
addict==2.4.0
adversarial-robustness-toolbox==1.20.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aioice==0.10.1
aiortc==1.13.0
aiosignal==1.4.0
albucore==0.0.12
albumentations==1.4.11
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appnope==0.1.4
argbind==0.3.9
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.9.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==25.3.0
audioread==3.0.1
av==14.4.0
Babel==2.15.0
babel-edtf==1.2.1
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
bidict==0.22.1
bleach==6.2.0
blinker==1.9.0
blis==1.3.0
blobfile==3.0.0
bpy==4.2.0
build==1.3.0
CacheControl==0.14.3
catalogue==2.0.10
cattrs==23.2.3
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.2
cleo==2.1.0
click==8.2.1
click-config-file==0.6.0
clip-interrogator==0.6.0
cloudpathlib==0.23.0
cloudpickle==3.1.1
cmake==3.30.0
codetiming==1.4.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
configobj==5.0.9
contourpy==1.2.1
coremltools==8.3.0
coverage==7.9.1
cpm-kernels==1.0.11
crashtest==0.4.1
cryptography==46.0.2
cstr @ git+https://github.com/WASasquatch/cstr@0520c29a18a7a869a6e5983861d6f7a4c86f8e9b
csvw==3.7.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.11
Cython==3.0.10
dacite==1.9.2
dataclasses-jsonschema==2.16.0
datasets==4.0.0
deap==1.4.3
debugpy==1.8.2
decorator==4.4.2
deepdiff==8.5.0
defusedxml==0.7.1
Deprecated==1.2.14
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diffusers==0.29.2
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
dlinfo==2.0.0
dnspython==2.7.0
docarray==0.41.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.16
dulwich==0.24.1
easydict==1.13
ecdsa==0.19.1
edtf==5.0.0
einops==0.8.1
einx==0.3.0
espeakng-loader==0.2.4
eval_type_backport==0.2.0
evalidate==2.0.3
eventlet==0.40.1
executing==2.0.1
fairscale==0.4.13
faiss-cpu==1.11.0.post1
fastapi==0.115.12
fastjsonschema==2.21.1
fastrtc==0.0.33
fastrtc-moonshine-onnx==20241016
ffmpy @ git+https://github.com/WASasquatch/ffmpy.git@f000737698b387ffaeab7cd871b0e9185811230d
filelock==3.19.1
findpython==0.7.0
fire==0.7.0
Flask==3.1.1
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
flatten-dict==0.4.2
fonttools==4.53.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.3.0
ftfy==6.2.0
funcy==1.18
future==1.0.0
gast==0.6.0
gensim==4.3.3
geojson==3.2.0
gevent==24.11.1
gevent-websocket==0.10.1
ghp-import==2.1.0
gitdb==4.0.11
GitPython==3.1.43
google-crc32c==1.7.1
google-pasta==0.2.0
googleapis-common-protos==1.70.0
gradio==5.33.0
gradio_client==1.10.2
greenlet==3.1.1
griffe==0.47.0
groovy==0.1.2
grpcio==1.67.1
grpcio-health-checking==1.68.0
grpcio-reflection==1.68.0
gunicorn==23.0.0
h11==0.14.0
h5py==3.11.0
hf-xet==1.1.5
hf_transfer==0.1.9
hnswlib==0.8.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.35.3
humanfriendly==10.0
hydra-core==1.3.2
idna==3.10
idutils==1.4.5
ifaddr==0.2.0
imageio==2.34.2
imageio-ffmpeg==0.5.1
img2texture @ git+https://github.com/WASasquatch/img2texture.git@a546609a915caf1dcb84a15bf44b5b639ad924e6
importlib_metadata==8.0.0
importlib_resources==6.5.2
iniconfig==2.1.0
inquirerpy==0.3.4
insightface==0.7.3
installer==0.7.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.5
isbnlib==3.10.14
isodate==0.7.2
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jax==0.4.30
jax-metal==0.1.0
jaxlib==0.4.30
jcloud==0.3
jedi==0.19.1
jina==3.34.0
jina-hubble-sdk==0.39.0
Jinja2==3.1.6
joblib==1.4.2
json5==0.10.0
jsondiff==2.2.1
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kagglehub==0.3.12
keras==3.4.1
keyring==25.6.0
kiwisolver==1.4.5
kornia==0.7.3
kornia_rs==0.1.4
langcodes==3.5.0
language-tags==1.2.0
language_data==1.3.0
lark-parser==0.12.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
lightning-utilities==0.11.3.post0
lion-pytorch==0.2.3
llama-cpp-agent==0.0.17
llama_cpp_python==0.2.81
llvmlite==0.44.0
loguru==0.7.3
lxml==5.4.0
marisa-trie==1.3.1
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.5.3
markdownify==1.2.2
MarkupSafe==3.0.2
marshmallow==3.26.1
marshmallow-jsonschema==0.13.0
marshmallow-oneofschema==3.2.0
marshmallow-utils==0.12.1
marshmallow_dataclass==8.7.1
matplotlib==3.9.1
matplotlib-inline==0.1.7
matrix-client==0.4.0
mdurl==0.1.2
mergedeep==1.3.4
milvus-lite==2.5.1
misaki==0.9.4
mistral_common==1.8.5
mistune==3.1.1
mkdocs==1.6.0
mkdocs-autorefs==1.0.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.28
mkdocs-material-extensions==1.3.1
mkdocstrings==0.25.1
mkdocstrings-python==1.10.5
ml-dtypes==0.3.2
mlx==0.29.2
mlx-audio==0.2.5
mlx-lm==0.28.2
mlx-metal==0.29.2
mlx-vlm==0.3.3
more-itertools==10.8.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.18.4
multidict==6.6.3
multiprocess==0.70.16
muon-optimizer @ git+https://github.com/KellerJordan/Muon@f90a42b28e00b8d9d2d05865fe90d9f39abcbcbd
murmurhash==1.0.13
mypy_extensions==1.1.0
namex==0.0.8
nari-tts @ git+https://github.com/nari-labs/dia.git@2811af1c5f476b1f49f4744fabf56cf352be21e5
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
notebook==7.3.2
notebook_shim==0.2.4
num2words==0.5.14
numba==0.61.2
numexpr==2.10.1
numpy==2.2.0
numpydantic==1.6.6
omegaconf==2.3.0
onnx==1.17.0
onnx-coreml==1.3
onnxruntime==1.23.1
onnxruntime-silicon==1.16.3
open_clip_torch==2.26.1
openai==1.35.10
opencv-contrib-python==4.10.0.84
opencv-python==4.12.0.88
opencv-python-headless==4.10.0.84
opentelemetry-api==1.35.0
opentelemetry-exporter-otlp==1.35.0
opentelemetry-exporter-otlp-proto-common==1.35.0
opentelemetry-exporter-otlp-proto-grpc==1.35.0
opentelemetry-exporter-otlp-proto-http==1.35.0
opentelemetry-exporter-prometheus==0.56b0
opentelemetry-instrumentation==0.56b0
opentelemetry-instrumentation-aiohttp-client==0.56b0
opentelemetry-instrumentation-asgi==0.56b0
opentelemetry-instrumentation-fastapi==0.56b0
opentelemetry-instrumentation-grpc==0.56b0
opentelemetry-proto==1.35.0
opentelemetry-sdk==1.35.0
opentelemetry-semantic-conventions==0.56b0
opentelemetry-util-http==0.56b0
opt-einsum==3.3.0
optimum==1.21.2
optree==0.14.1
ordered-set==4.1.0
orderly-set==5.4.1
orjson==3.10.15
overrides==7.7.0
packaging==25.0
paginate==0.5.6
pandas==2.3.1
pandoc==2.4
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pbs-installer==2025.9.18
pexpect==4.9.0
pfzy==0.3.4
phonemizer-fork==3.3.2
piexif==1.1.3
pilgram==1.2.1
pillow==11.2.1
pkginfo==1.12.1.2
platformdirs==4.4.0
pluggy==1.6.0
plumbum==1.10.0
ply==3.11
poetry==2.2.1
poetry-core==2.2.1
polygraphy==0.49.9
pooch==1.8.2
preshed==3.0.10
prettytable==3.10.2
proglog==0.1.10
prometheus_client==0.21.1
prompt_toolkit==3.0.47
propcache==0.3.2
protobuf==6.31.1
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-aiger==6.2.3
py-aiger-abc==0.2.1
py-cpuinfo==9.0.0
py-spy==0.4.0
pyaml==24.4.0
pyarrow==21.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pybind11==2.13.6
pycountry==24.6.1
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.5
pydantic-extra-types==2.10.6
pydantic_core==2.33.2
pydub==0.25.1
pyee==13.0.0
pygame==2.5.2
PyGithub==2.3.0
pyglet==2.0.20
Pygments==2.18.0
PyJWT==2.8.0
pylibsrtp==0.12.0
pyloudnorm==0.1.1
PyMatting==1.1.12
pymdown-extensions==10.8.1
pymilvus==2.5.14
pymunk==7.1.0
PyNaCl==1.5.0
pyOpenSSL==25.3.0
pyparsing==3.1.2
pypng==0.20220715.0
pyproject_hooks==1.2.0
pyrsistent==0.19.3
pySmartDL==1.3.4
pystoi==0.4.1
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==4.1.0
python-constraint==1.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.11.1
python-jose==3.5.0
python-json-logger==3.2.1
python-multipart==0.0.20
python-socketio==5.8.0
pytorch-lightning==2.3.2
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==26.0.3
qpsolvers==4.8.1
qrcode==7.4.2
quadprog==0.1.13
randomname==0.2.1
RapidFuzz==3.14.1
rdflib==7.2.1
referencing==0.35.1
regex==2025.7.34
rembg==2.0.57
requests==2.32.4
requests-toolbelt==1.0.0
requirements-parser==0.9.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rich-argparse==1.5.2
rpds-py==0.18.1
rsa==4.9.1
ruff==0.11.13
safehttpx==0.1.6
safetensors==0.5.3
SciencePlots==2.2.0
scikit-build==0.18.0
scikit-image==0.24.0
scikit-learn==1.5.1
scikit-sequitur==0.4.0
scipy==1.16.2
seaborn==0.13.2
segment-anything==1.0
segments==2.3.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentencepiece==0.2.0
shellingham==1.5.4
simple-websocket==1.1.0
simpleeval==0.9.13
six==1.17.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.2
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.7
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spandrel==0.3.4
srsly==2.5.1
stack-data==0.6.3
starlette==0.46.2
svgelements==1.9.6
svgpathtools==1.6.1
svgwrite==1.4.3
sympy==1.14.0
symusic==0.4.8
taichi==1.7.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensordict==0.5.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado==0.18.1
tf_keras==2.16.0
thinc==8.3.6
threadpoolctl==3.5.0
tifffile==2024.7.2
tiktoken==0.9.0
timm==1.0.7
tinycss2==1.4.0
tokenizers==0.21.4
tomli==2.0.1
tomlkit==0.13.3
torch==2.8.0
torch-stoi==0.2.3
torchaudio==2.6.0
torchdata==0.11.0
torchjd==0.7.0
torchmetrics==1.4.0.post0
torchsde==0.2.6
torchtune==0.6.1
torchvision==0.22.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.55.0
trove-classifiers==2025.9.11.17
typeguard==4.4.4
typer==0.12.3
types-python-dateutil==2.9.0.20241206
types-requests==2.31.0.6
types-setuptools==70.3.0.20240710
types-urllib3==1.26.25.14
typing==3.7.4.3
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.10.0
ultralytics==8.2.50
ultralytics-thop==2.0.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.23.1
uvloop==0.19.0
vectordb==0.0.21
verl==0.1
virtualenv==20.34.0
wasabi==1.1.3
watchdog==4.0.1
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xattr==1.2.0
xformers==0.0.26.post1
xxhash==3.5.0
yapf==0.43.0
yarl==1.20.1
zipp==3.19.2
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
